
:root {
  --edje-green: rgb(150, 201, 61);
  --edje-green-lighter: rgb(200, 255, 111);
  --edje-green-darker: rgb(115, 166, 26);


}

.body {

  &.dark {
    background-color: #222;

    .title {
      color: var(--edje-green);
      text-shadow:
      0 0 7px #555,
      0 0 10px #555,
      0 0 21px #0fa;  
    }
  }
  &:not(.dark) {
    background-color: white;  

    .title {
      color: var(--edje-green);
      text-shadow:
      0 0 7px #555,
      0 0 10px #555,
      0 0 21px #0fa;  
    }
  }
}

.title {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 4vh;
  font-weight: bold;
  padding: 2vh;
  position: relative;
  text-align: center;

  .toggle-dark-mode {
    cursor: pointer;
    position: absolute;
    right: 1em;
  }
}

.content {
  align-items: flex-start;
  display: flex;
  padding: 2vh;

  .left {
    margin-right: 2vh;
  }
  
  .left,
  .right {
    background-color: silver;
    color: black;
    display: inline-block;
    flex-grow: 1;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2vh;
    padding: 2vh;
  }

  .center {
    padding: 1em 3em;
  }
}

#people,
#guild {
  border: 1px solid gray;
  border-collapse: collapse;
  width: 100%;

  .table-header-cell {
    background-color: var(--edje-green-darker);
    text-align: center;
    padding: 2vh;
  }

  .table-cell {
    text-align: center;
    padding: 2vh;
  }

  .table-row:nth-child(2n) {
    background-color: var(--edje-green);
  }
  .table-row:nth-child(2n + 1) {
    background-color: var(--edje-green-lighter);
  }

  .table-header-cell,
  .table-cell {
    border-bottom: 1px solid gray;
  }
}